.sp-o-bird {
  position: absolute;
  width: 32px;
  top: 18%;
  left: 80%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  backface-visibility: hidden;

  @media (--mq-m) {
    width: 48px;
    top: 18%;
    left: 80%;
  }

  &__svg {
    animation: fly 1500ms infinite alternate;
    max-width: 100%;
    overflow: visible;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  &__body-outline {
    fill: #21657c;
  }

  &__body {
    fill: var(--color-white);
  }

  &__eye {
    fill: #21657c;
    animation: blink 3s infinite;
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }

  &__dots {
    fill: #f5aaa6;
  }

  &__wing-1 {
    fill: #f5aaa6;
    transform-origin: 100% 100%;
    animation: flap-alt 600ms infinite alternate;
    transform-box: fill-box;
  }

  &__wing-2 {
    fill: #f8db5b;
    transform-origin: 100% 100%;
    animation: flap 600ms infinite alternate;
    transform-box: fill-box;
  }
}

@keyframes blink {
  0%, 100% {
    transform: scale(1, .05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}

@keyframes fly {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15%);
  }
}

@keyframes flap {
  from {
    transform: rotate(0) translateY(0);
  }
  to {
    transform: rotate(5deg) translateY(-5%);
  }
}

@keyframes flap-alt {
  from {
    transform: rotate(0) translateY(0);
  }
  to {
    transform: rotate(-5deg) translateY(-5%);
  }
}
