/* Button */

.sp-c-btn {
  /* reset */
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;

  /* core */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 24px;

  &.disabled,
  &[disabled] {
      cursor: default;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
  }

  &--block {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  &--etsy {
    background-color: var(--color-social-etsy);
    border-color: var(--color-social-etsy);
    color: var(--color-white);
  }

  &--etsy &__icon {
    fill: var(--color-white);
    width: 50px;
    vertical-align: -10px;
    margin-left: 10px;
  }

  &--color-e {
    background-color: var(--color-brand-danube);
    border-color: var(--color-brand-danube);
    color: var(--color-white);
  }

}
