auto-install-peers=true
engine-strict=true
link-workspace-packages=true
publish-branch=main
save-exact=true
save-prefix=""
save-workspace-protocol=rolling
strict-peer-dependencies=false
experimental-strip-types=true
