@import '../../assets/styles/tools';

.sp-c-cookie-banner {
  display: flex;
  flex-direction: column;
  padding: var(--space-y-4) var(--space-x-4);
  background-color: var(--color-brand-goldensand);
  color: var(--color-black);
  font-size: var(--font-size-24);
  gap: var(--space-y-4);

  @media (--mq-xl) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-x-4);
  }

  &[hidden] {
    display: none;
  }
}

.sp-c-cookie-nanner__image,
.sp-c-cookie-nanner__image svg {
  display: block;
  width: 100px;

  @media (--mq-xl) {
    width: 80px;
  }
}

.sp-c-cookie-banner__actions {
  display: flex;
  gap: var(--space-x-2);
}
