/* Document */

html {
  -webkit-tap-highlight-color: color-mod(var(--color-black) alpha(0%));
  background-color: var(--color-white);
  margin: 0;
  padding: 0;

  @media (--mq-xxxl) {
    font-size: 200%;
  }
}

body {
  background-color: var(--color-white);
}
