/* Links */

a {
  color: var(--color-action);
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &[href^="tel"] {
    color: inherit;
    cursor: default;
    text-decoration: none;
    appearance: none;
  }
}
