/* Text */

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-brand-abbey);
}


p,
ul,
ol,
dl,
table,
blockquote {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
