.sp-c-card {
  display: block;
  width: 100%;
  background-color: #FFFFFF;

  &__link {
    display: block;
    text-decoration: none;
  }

  &__media {
    padding: 0;
    margin: 0;

    &__image {
      display: block;
      width: 100%;
      height: auto;
      max-width: 100%;
      aspect-ratio: attr(width) / attr(height);
    }
  }

  &--journal &__media,
  &--product &__media {
    padding: 16px 16px 0;
  }

  &--work &__media {
    padding: 16px;
  }

  &__content {
    padding: 24px 16px 16px;
  }

  &--journal a:hover &__title,
  &--journal a:focus &__title {
      color: var(--color-brand--d);
  }

  &--product a:hover &__title,
  &--product a:focus &__title {
      color: var(--color-brand--c);
  }

  &__body {
    margin: 8px 0 0;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }

}
