:root {
  --scrollbar-width: 0%; /* requires unit definition here - dynamically set using Javascript helper */
  --fluid-min-width: 375px;
  --fluid-max-width: 1160px;
  --fluid-screen: calc(100vw - var(--scrollbar-width));
}
