/* Space */

:root {
  --baseline: 4px;

  --space-y-1: var(--baseline);
  --space-y-2: calc(2 * var(--baseline));
  --space-y-3: calc(3 * var(--baseline));
  --space-y-4: calc(4 * var(--baseline));
  --space-y-5: calc(5 * var(--baseline));
  --space-y-6: calc(6 * var(--baseline));
  --space-y-7: calc(7 * var(--baseline));
  --space-y-8: calc(8 * var(--baseline));
  --space-y-9: calc(9 * var(--baseline));
  --space-y-10: calc(10 * var(--baseline));
  --space-y-11: calc(11 * var(--baseline));
  --space-y-12: calc(12 * var(--baseline));

  --space-x-1: var(--baseline);
  --space-x-2: calc(2 * var(--baseline));
  --space-x-3: calc(3 * var(--baseline));
  --space-x-4: calc(4 * var(--baseline));
  --space-x-5: calc(5 * var(--baseline));
  --space-x-6: calc(6 * var(--baseline));
  --space-x-7: calc(7 * var(--baseline));
  --space-x-8: calc(8 * var(--baseline));
  --space-x-9: calc(9 * var(--baseline));
  --space-x-10: calc(10 * var(--baseline));
  --space-x-11: calc(11 * var(--baseline));
  --space-x-12: calc(12 * var(--baseline));

}
