@import '../../assets/styles/tools';

.sp-c-button {
  @mixin button-reset;
  @mixin font-smoothing;

  /* Layout */
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  vertical-align: middle;

  /* Visual */
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 0;

  /* Size */
  padding: var(--space-y-3) var(--space-x-5);

  /* Text */
  font-family: var(--font-family-base);
  font-size: var(--font-size-6);
  font-weight: 700;
  text-align: center;
  line-height: calc(var(--baseline) * 6);
  white-space: nowrap;

  @media (--mq-lg) {
    font-size: var(--font-size-base);
    line-height: calc(var(--baseline) * 7);
  }

  &--link {
    background: none;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  &--ghost {
    background: none;
  }

  &--invert {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &--color-a {
    background-color: var(--color-brand-danube);
    border-color: var(--color-brand-danube);
    color: var(--color-white);
  }

  &--block {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  &.disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.3;
  }
}

.sp-c-button__label {
  display: inline-block;
  vertical-align: middle;
}

.sp-c-button__icon {
  display: inline-block;
  vertical-align: middle;
}
