:root {
  --text-effect-height: 0.6em;
  --text-effect-offset: -0.4em;
}

.u-text-effect {
  display: inline-block;

  &-brand-peppermint-green {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-peppermint-green),
      var(--text-effect-offset), none;
  }

  &-brand-yellow {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-yellow),
      var(--text-effect-offset), none;
  }

  &-brand-pink {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-pink), var(--text-effect-offset),
      none;
  }

  &-brand-dark-blue {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-dark-blue),
      var(--text-effect-offset), none;
  }

  &-brand-light-pink {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-light-pink),
      var(--text-effect-offset), none;
  }

  &-brand-light-green {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-light-green),
      var(--text-effect-offset), none;
  }

  &-brand-light-blue {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-light-blue),
      var(--text-effect-offset), none;
  }

  &-brand-blush {
    @mixin text-decoration var(--text-effect-height), var(--color-brand-blush),
      var(--text-effect-offset), none;
  }
}
